.Wrapper {
  padding: 0 13%;
  background-color: rgb(16, 160, 204);
  box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1%;
}

.Headertitle {
  display: flex;
  color: white;
}
.Headertitle:hover {
  color: rgb(200, 27, 94);
  text-decoration: none;
}
.Headertitle > img {
  animation: Nav-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
  color: white;
}
@keyframes Nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Headertitle > h3 {
  margin-left: 10px;
  align-self: middle;
  padding-top: 3%;
  margin-top:5%;
}

.Headertitle > button {
  background-color: rgb(200, 27, 94);
  border-color: rgb(200, 27, 94);
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.3);
}
