.Register {
    height: 100vh;
    background-color: rgb(243, 243, 243);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Register__content {
    width: 30%;
    background-color: rgb(5, 164, 212);
    padding: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Register__content > h3 {
    text-align: center;
  }
  .Register__content > Button {
    text-transform: uppercase;

  }

  .Register__content > Button:hover{
    background-color: rgb(101, 218, 101);
    border-color: rgb(101, 218, 101);
}
  
  
  