.Login {
  height: 100vh;
  background-color: rgb(243, 243, 243);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login__content {
  width: 30%;
  background-color: rgb(5, 164, 212);
  padding: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login__content > h3 {
  text-align: center;
}

.Login__content > Button:hover{
    background-color: rgb(101, 218, 101);
    border-color: rgb(101, 218, 101);
    text-transform: capitalize
}

.Login__content > Button {
    text-transform: uppercase;

  }

